body {
    @import 'variables/colors.scss';
    @import 'variables/fonts.scss';

    background-color: $color-background;
    font-family: $font-primary;
    color: $color-text;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
